Package: com.yourcompany.br.ids
Name: BRIds
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Apple Inc
Author: Apple Inc
Section: Tweaks
