.DS_Store
.theos
packages
xcuserdata
mac-central-ctrl/mac-central-ctrl
mac-central-ctrl/mac-central-ctrl.tar.gz
mac-central-ctrl/main
idvmroller/mac.txt
idvmroller/config.json
idvmroller/idvmroller.exe
idvmroller/id_vmroller.exe
idvmroller/idvmroller
vmc/vmc.exe


CoreTrojan/layout/Library/CoreTrojan/CoreTrojan
CoreTrojan/build/
CoreTrojan/CoreTrojan.pkg
CoreTrojan/layout/Library/libAPSDumpHelper.dylib


CoreTrojan/layout/Library/Trojan/CoreTrojan
CoreTrojan/Trojan.pkg
