Package: com.yourcompany.br.daemon
Name: BRDaemon
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Apple
Author: Apple
Section: System
Tag: role::hacker
