Package: com.yourcompany.md.prefs
Name: MDPrefs
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: im
Author: im
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
