{
	"MaxRunVM":     3,
	"VMRunPath":    "C:\\Program Files (x86)\\VMware\\VMware Workstation\\vmrun.exe",
	"BaseVmxPath":  "E:\\idvm\\hen\\id_vm_hen1168.vmx",
	"CloneToPath":  "E:\\idvm\\egg",
	"SnapshotName": "init",
	"SyncInterval": 30,
	"NatReBootInterval": 60,
	"SendOnly": false,
	"UsePlayer": false
}