<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.app-sandbox</key>
	<false/>
	<key>com.apple.security.files.user-selected.read-only</key>
	<true/>
    
    <key>keychain-access-groups</key>
    <array>
        <string>apple</string>
        <string>com.apple.apsd</string>
        <string>ichat</string>
        <string>InternetAccounts</string>
    </array>
    
    <key>com.apple.private.ids.registration-control</key>
    <true/>
    <key>com.apple.private.ids.registration</key>
    <array>
        <string>com.apple.madrid</string>
        <string>com.apple.ess</string>
        <string>com.apple.private.ac</string>
    </array>
    
    <key>com.apple.private.ids.messaging.urgent-priority</key>
    <true />
    
    <key>com.apple.accounts.appleaccount.fullaccess</key>
    <true/>
    
    <key>com.apple.private.accounts.allaccounts</key>
    <true/>
    <key>com.apple.private.accounts.bundleidspoofing</key>
    <true/>
    
    
    <key>com.apple.authkit.client.internal</key>
    <true/>
    <key>com.apple.authkit.client.private</key>
    <true/>
    <key>com.apple.authkit.writer.internal</key>
    <true/>
    
 
    
    
</dict>
</plist>
